@{
    ViewData["Title"] = "Contact Us";
}
<div class="govuk-width-container ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
            <h1 class="govuk-heading-m">Contact Us</h1>

            <h2 class="govuk-heading-s">North</h2>
            <p class="govuk-body">
                <a href="https://www.helptobuyagent1.org.uk/applying-for-shared-ownership/">Contact a Help to Buy agent in the north.</a>
            </p>
            <p class="govuk-body">
                Telephone: 0300 790 0570
                </br>
                <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
            </p>

            <h2 class="govuk-heading-s">Midlands and London</h2>
            <p class="govuk-body">
                <a href="https://www.helptobuyagent1.org.uk/applying-for-shared-ownership/">Contact a Help to Buy agent in the Midlands and London.</a>
            </p>
            <p class="govuk-body">
                Telephone: 0333 321 4044
                </br>
                <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
            </p>

            <h2 class="govuk-heading-s">South (excluding London)</h2>
            <p class="govuk-body">
                <a href="https://www.helptobuyagent3.org.uk/user?ReturnUrl=%2fapply">Contact a Help to Buy agent in the south (excluding London).</a>
            </p>
            <p class="govuk-body">
                Telephone: 0800 456 1188
                </br>
                <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
            </p>

            <h2 class="govuk-heading-s">Technical support</h2>
            <p class="govuk-body">
                email: <a href="mailto:helptobuildtechsupport@homesengland.gov.uk" class="govuk-link govuk-link--no-visited-state" id="TechSupportEmail">helptobuildtechsupport@homesengland.gov.uk</a>
            </p>

            <h2 class="govuk-heading-s">Media enquiries</h2>
            <p class="govuk-body">
                Email:
            </p>

            <h2 class="govuk-heading-s">Join The Help To Build Scheme(mortgage lenders)</h2>
            <p class="govuk-body">
                Email:
            </p>
        </div>
    </div>
</div>

