
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
        <h2 class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @if (@Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li>
                            <a href="#@item.ErrorPropertyHTMLRef.ToString()">@item.ErrorMessage.ToString()</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

