@{
    ViewData["Title"] = "Accessibility";
}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
                <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>

            <h1 id="page-title" class="govuk-heading-l">Accessibility statement for the "Help to Build - Apply for an Equity Loan" service</h1>

            <p class="govuk-body">
                This accessibility statement applies to the "Help to Build - Apply for an Equity Loan" service.
            </p>

            <p class="govuk-body">
                This service is run by Homes England. We want as many people as possible to be able to use it.
                For example, that means you should be able to:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>navigate most of the website using just a keyboard</li>
                <li>navigate most of the website using speech recognition software</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>

            <p class="govuk-body">
                We’ve also made text as simple as possible to understand.
            </p>

            <p class="govuk-body">
                AbilityNet has advice on making your device easier to use if you have a disability.
            </p>

            <h2 class="govuk-heading-m">How accessible this service is</h2>

            <p class="govuk-body">
                This service is fully compliant with with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link govuk-link--no-visited-state">Web Content Accessibility Guidelines version 2.1 AA standard</a>.
            </p>

            <h2 class="govuk-heading-m">Feedback and contact information</h2>

            <p class="govuk-body">
                If you need information on this website in a different format:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>email: <a href="mailto:helptobuildtechsupport@homesengland.gov.uk" class="govuk-link govuk-link--no-visited-state" id="TechSupportEmail">helptobuildtechsupport@homesengland.gov.uk</a></li>
            </ul>
            <p class="govuk-body">
                We’ll consider your request and get back to you in 2 working days.
            </p>

            <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>

            <p class="govuk-body">
                We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting
                accessibility requirements, contact the Help to Build service team on <a href="mailto:helptobuildtechsupport@homesengland.gov.uk" class="govuk-link govuk-link--no-visited-state" id="TechSupportEmail">helptobuildtechsupport@homesengland.gov.uk</a>.
            </p>

            <h2 class="govuk-heading-m">Enforcement procedure</h2>

            <p class="govuk-body">
                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications)
                (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact
                the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link govuk-link--no-visited-state">Equality Advisory and Support Service (EASS).</a>
            </p>

            <h2 class="govuk-heading-m">Contacting us by phone or visiting us in person</h2>

            <p class="govuk-body">
                We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.
            </p>

            <p class="govuk-body">
                Our offices have audio induction loops, or if you contact us before your visit we can arrange a
                British Sign Language (BSL) interpreter. You can contact us using the details listed above.
            </p>

            <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>

            <p class="govuk-body">
                Homes England is committed to making its website accessible, in accordance with the
                Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
            </p>

            <h2 class="govuk-heading-m">Compliance status</h2>

            <p class="govuk-body">
                This service is fully compliant with with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link govuk-link--no-visited-state">Web Content Accessibility Guidelines version 2.1 AA standard</a>.
            </p>

            <h2 class="govuk-heading-m">Disproportionate burden</h2>

            <p class="govuk-body">
                We are not seeking to claim a disproportionate burden exemption for any part of this service.
            </p>

            <h2 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h2>

            <p class="govuk-body">
                None of the content within this service is exempt from the accessibility regulations.
            </p>

            <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>

            <p class="govuk-body">
                Having conducted basic tests internally at Homes England before the service went live,
                we will continue to review the accessibility of the site whenever changes are made to
                it and will also look to conduct user testing with users with impairments.
            </p>

            <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

            <p class="govuk-body">
                This statement was prepared on 14 March 2022. It was last reviewed on 14 March 2022.
            </p>

            <p class="govuk-body">
                This accessibility of this service was last tested on 14 March 2022. The test was carried out by Homes England staff.
            </p>

            <p class="govuk-body">
                We tested all the service’s content using keyboard input, WAVE browser extension and screen reader software.
            </p>
        </div>
    </div>

    <div>
        <h1 class="govuk-heading-l page-title govuk-!-padding-top-5" id="accessibility-statement-for-tell-us-once">Find an organisation that sells shared ownership homes</h1>
            <p class="govuk-body">This service is part of the wider GOV.UK website. There's a separate <a class="govuk-link" href="https://www.gov.uk/help/accessibility-statement">Accessibility statement for the main GOV.UK website.</a></p>
            <p class="govuk-body">
                This page only contains information about the Tell Us Once service,
                available at <a class="govuk-link" href="https://tell-us-someone-died.dwp.gov.uk/">https://tell-us-someone-died.dwp.gov.uk</a>.
            </p>

            <h2 class="govuk-heading-m" id="using-this-service">Using this service</h2>
            <p class="govuk-body">This service is run by the Department for Work and Pensions (DWP). We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>get from the start of the service to the end using just a keyboard</li>
                <li>get from the start of the service to the end using speech recognition software</li>
                <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
            <p class="govuk-body">We’ve also made the text in the service as simple as possible to understand.</p>


            <p class="govuk-body">
                <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
            </p>

            <h2 class="govuk-heading-m" id="how-accessible-this-service-is">How accessible this service is</h2>
            <p class="govuk-body">Some people may find parts of this service difficult to use:</p>

            <ul class="govuk-list  govuk-list--bullet">
                <li>
                    JAWS screen reader software may not read out all page headings in Internet Explorer 11 – this is a known issue with JAWS version 18 or above,
                    we recommend using a different browser to avoid this problem
                </li>
                <li>JAWS voice packs – some JAWS voices incorrectly read the term ‘P45’ as ‘45p’, this is a JAWS issue only affecting some voice packs</li>
                <li>
                    Dragon speech recognition software – links that reveal hidden text on a page will not respond to the ‘click link’ command, but will respond to ‘click button’ – this is a
                    <a class="govuk-link" href="https://github.com/alphagov/govuk-design-system-backlog/issues/44#issuecomment-628082040"> known issue with the GOV.UK Design System details component</a>
                </li>
            </ul>

            <h2 class="govuk-heading-m" id="feedback-and-contact-information">What to do if you have difficulty using this service</h2>
            <p class="govuk-body">If you have difficulty using this service contact us:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>email <a class="govuk-link" href="mailto:tellusonce.communications@dwp.gov.uk">tellusonce.communications@dwp.gov.uk</a></li>
                <li>call 0800 085 7308 or <a class="govuk-link" href="https://www.relayuk.bt.com/">Relay UK</a>: 18001 0800 085 7308, Monday to Friday 9:30am - 3:30pm, <a class="govuk-link" href="https://dwptuo.signvideo.net/">Video Relay Service</a> for British Sign Language (BSL)</li>
            </ul>
            <p class="govuk-body">As part of providing this service, we may need to send you messages or documents. We’ll ask you how you want us to send messages or documents to you, but contact us if you need them in a different format. For example, large print, audio recording or braille.</p>




            <h2 class="govuk-heading-m" id="reporting-accessibility-problems-with-this-website">Reporting accessibility problems with this website</h2>
            <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a class="govuk-link" href="mailto:tellusonce.communications@dwp.gov.uk">tellusonce.communications@dwp.gov.uk</a>.</p>

            <h2 class="govuk-heading-m" id="enforcement-procedure">Enforcement procedure</h2>
            <p class="govuk-body">
                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018
                (the ‘accessibility regulations’).
            </p>
            <p class="govuk-body">
                If you’re not happy with how we respond to your complaint, contact the:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="https://www.equalityadvisoryservice.com/"> Equality Advisory and Support Service (EASS)</a> if you live in England, Scotland or Wales</li>
                <li><a class="govuk-link" href="https://www.equalityni.org/contactus">Equality Commission for Northern Ireland (ECNI) </a> if you live in Northern Ireland</li>
            </ul>


            <h2 class="govuk-heading-m" id="contacting-us-by-phone-or-visiting-us-in-person">Contacting us by phone or visiting us in person</h2>
            <p class="govuk-body">We provide a text relay service for people who are deaf, hearing impaired or have a speech impediment.  </p>
            <p class="govuk-body">
                Our offices have audio induction loops, or if you contact us before your visit we can arrange a British Sign Language (BSL) interpreter to help you complete the service in person.
            </p>


            <h2 class="govuk-heading-m" id="technical-information-about-this-websites-accessibility">Technical information about this website’s accessibility</h2>
            <p class="govuk-body">DWP is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
            <p class="govuk-body">
                This service is fully compliant with the
                <a class="govuk-link" rel="external" href="https://www.w3.org/TR/WCAG21/"> Web Content Accessibility Guidelines version 2.1 AA standard.</a>
            </p>


            <h2 class="govuk-heading-m" id="how-we-tested-this-service">How we tested this service</h2>
            <p class="govuk-body">
                The service was last tested on 18th June 2021. It was checked for compliance with WCAG 2.1 AA using both automated and manual testing. The tests were carried out by DWP.
            </p>
            <p class="govuk-body">
                This page was prepared on 22nd June 2021.
            </p>
    </div>