@{
    ViewData["Title"] = "Accessibility";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <div role="navigation" aria-label="navigate back">
            <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
        </div>       
        <main class="govuk-main-wrapper">
            <h1 id="page-title" class="govuk-heading-l"> Accessibility statement for the services: 'Check if you are eligible to buy a shared ownership home' and 'Find an organisation that sells shared ownership homes' </h1>
            <p class="govuk-body">This service is part of the wider GOV.UK website. There's a separate <a class="govuk-link" href="https://www.gov.uk/help/accessibility-statement">Accessibility statement for the main GOV.UK website.</a></p>
            <p class="govuk-body">
                This page only contains information about the services: <a class="govuk-link" href="@ViewBag.FindSharedOwnershipLink">Check eligibility to buy a shared ownership home</a>  and <a class="govuk-link" href="@ViewBag.FindSearchProviderLink">Find organisations selling shared ownership homes</a>.

            </p>

            <h2 class="govuk-heading-m" id="using-this-service">Using this service</h2>
            <p class="govuk-body">This service is run by Homes England. We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>get from the start of the service to the end using just a keyboard</li>
                <li>get from the start of the service to the end using speech recognition software</li>
                <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
            <p class="govuk-body">We’ve also made the text in the service as simple as possible to understand.</p>


            <p class="govuk-body">
                <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
            </p>

            <h2 class="govuk-heading-m" id="how-accessible-this-service-is">How accessible this service is</h2>
            <p class="govuk-body">Some people may find parts of this service difficult to use:</p>

            <ul class="govuk-list  govuk-list--bullet">
                <li>
                    JAWS screen reader software may not read out all page headings in Internet Explorer 11 – this is a known issue with JAWS version 18 or above, we recommend using a different browser to avoid this problem
                </li>
                <li>
                    JAWS voice packs – some JAWS voices incorrectly read the term ‘P45’ as ‘45p’, this is a JAWS issue only affecting some voice packs
                </li>
                <li>
                    Dragon speech recognition software – links that reveal hidden text on a page will not respond to the ‘click link’ command, but will respond to ‘click button’ – this is a
                    <a class="govuk-link" href="https://github.com/alphagov/govuk-design-system-backlog/issues/44#issuecomment-628082040"> known issue with the GOV.UK Design System details component</a>
                </li>
            </ul>

            <h2 class="govuk-heading-m" id="feedback-and-contact-information">What to do if you have difficulty using this service</h2>
            <p class="govuk-body">If you have difficulty using this service contact us:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Email <a class="govuk-link" href="mailto:sharedownership@homesengland.gov.uk" id="TechSupportEmail">sharedownership@homesengland.gov.uk </a></li>
                <li>Phone <a class="govuk-link" href="https://www.relayuk.bt.com/">Relay UK</a>: 0300 1234 500 (Monday to Friday 9am to 5pm, excluding bank holidays)</li>
            </ul>
            <p class="govuk-body">As part of providing this service, we may need to send you messages or documents. We’ll ask you how you want us to send messages or documents to you, but contact us if you need them in a different format. For example, large print, audio recording or braille. </p>




            <h2 class="govuk-heading-m" id="reporting-accessibility-problems-with-this-website">Reporting accessibility problems with this website</h2>
            <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <a class="govuk-link" href="mailto:sharedownership@homesengland.gov.uk">sharedownership@homesengland.gov.uk.</a> </p>

            <h2 class="govuk-heading-m" id="enforcement-procedure">Enforcement procedure</h2>
            <p class="govuk-body">
                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
            </p>
            <p class="govuk-body">
                If you’re not happy with how we respond to your complaint, contact the:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" href="https://www.equalityadvisoryservice.com/"> Equality Advisory and Support Service (EASS)</a> if you live in England, Scotland or Wales</li>
                <li><a class="govuk-link" href="https://www.equalityni.org/contactus">Equality Commission for Northern Ireland (ECNI) </a> if you live in Northern Ireland</li>
            </ul>


            <h2 class="govuk-heading-m" id="contacting-us-by-phone-or-visiting-us-in-person">Contacting us by phone or visiting us in person</h2>
            <p class="govuk-body">We provide a text relay service for people who are deaf, hearing impaired or have a speech impediment.  </p>
            <p class="govuk-body">
                Our offices have audio induction loops, or if you contact us before your visit we can arrange a British Sign Language (BSL) interpreter to help you complete the service in person.
            </p>


            <h2 class="govuk-heading-m" id="technical-information-about-this-websites-accessibility">Technical information about this website’s accessibility</h2>
            <p class="govuk-body">Homes England is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. </p>
            <p class="govuk-body">
                This service is fully compliant with the
                <a class="govuk-link" rel="external" href="https://www.w3.org/TR/WCAG21/"> Web Content Accessibility Guidelines version 2.1 AA standard.</a>
            </p>


            <h2 class="govuk-heading-m" id="how-we-tested-this-service">How we tested this service</h2>
            <p class="govuk-body">
                The service was last tested in March 2023. It was checked for compliance with WCAG 2.1 AA using both automated and manual testing. The tests were carried out by Homes England.
            </p>
            <p class="govuk-body">
                This page was prepared in March 2023.
            </p>
        </main>
    </div>
</div>