@{
    ViewData["Title"] = "Contact us";
}
<div class="govuk-width-container ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
            <h1 id="page-title" class="govuk-heading-l">Contact us</h1>
            <br />
            <br />
            <h1 class="govuk-heading-m">Before September:</h1>
            <h2 class="govuk-heading-m">North</h2>

            <div class="govuk-body">
                <p>
                    Email: <a id="contact-us-north-email" href="mailto:SharedOwnershipNorth@homesengland.gov.uk">SharedOwnershipNorth@homesengland.gov.uk</a>
                </p>
                <p>
                    Telephone: 0300 790 0570<br />
                    <a id="contact-us-north-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                </p>
            </div>

            <h2 class="govuk-heading-m">Midlands</h2>
            <div class="govuk-body">
                <p>
                    Email: <a id="contact-us-midlands-email" href="mailto:SharedOwnershipMids@homesengland.gov.uk">SharedOwnershipMids@homesengland.gov.uk</a>
                </p>
                <p>
                    Telephone: 0333 321 4044<br />
                    <a id="contact-us-midlands-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                </p>
            </div>

            <h2 class="govuk-heading-m">South (excluding London)</h2>
            <div class="govuk-body">
                <p>
                    Email: <a id="contact-us-south-email" href="mailto:sharedOwnershipSouth@homesengland.gov.uk">SharedOwnershipSouth@homesengland.gov.uk</a>
                </p>
                <p>
                    Telephone: 0800 456 1188<br />
                    <a id="contact-us-south-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                </p>
            </div>

            <br />
            <br />
            <h1 class="govuk-heading-m">After September:</h1>
          
            <h3 class="govuk-heading-m">Get help with this service</h3>
            <div class="govuk-body">
                <p>
                    Email: <a id="contact-us-email" href="mailto:sharedownership@homesengland.gov.uk">sharedownership@homesengland.gov.uk</a>
                </p>
                <p>
                    Telephone: 0300 1234 500<br />
                    <a id="contact-us-north-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                </p>
            </div>

            <h4 class="govuk-heading-m">Opening times</h4>
            <div class="govuk-body">
                <p>
                    Monday to Friday: 9am to 5pm
                </p>
                <p>
                    Closed Saturday, Sunday and bank holidays <br />
                    <a id="contact-us-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                </p>
            </div>
        </div>
    </div>
</div>

