@{
    ViewData["Title"] = "Contact us";
}
<div class="govuk-width-container ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <div role="navigation" aria-label="navigate back">
                <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
            </div>            

            <main class="govuk-main-wrapper">
                <h1 id="page-title" class="govuk-heading-l">Contact us</h1>
                <h2 class="govuk-heading-m">North</h2>

                <div class="govuk-body">
                    <p>
                        Email: <a class="govuk-link" id="contact-us-north-email" href="mailto:SharedOwnershipNorth@homesengland.gov.uk">SharedOwnershipNorth@homesengland.gov.uk</a>
                    </p>
                    <p>
                        Telephone: 0300 790 0570<br />
                        <a class="govuk-link" id="contact-us-north-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                    </p>
                </div>

                <h2 class="govuk-heading-m">Midlands</h2>
                <div class="govuk-body">
                    <p>
                        Email: <a class="govuk-link" id="contact-us-midlands-email" href="mailto:SharedOwnershipMids@homesengland.gov.uk">SharedOwnershipMids@homesengland.gov.uk</a>
                    </p>
                    <p>
                        Telephone: 0333 321 4044<br />
                        <a class="govuk-link" id="contact-us-midlands-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                    </p>
                </div>

                <h2 class="govuk-heading-m">South (excluding London)</h2>
                <div class="govuk-body">
                    <p>
                        Email: <a class="govuk-link" id="contact-us-south-email" href="mailto:SharedOwnershipSouth@homesengland.gov.uk">SharedOwnershipSouth@homesengland.gov.uk</a>
                    </p>
                    <p>
                        Telephone: 0800 456 1188<br />
                        <a class="govuk-link" id="contact-us-south-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                    </p>
                </div>
            </main>
        </div>
    </div>
</div>