@{
    ViewData["Title"] = "Contact Us";
}
<div class="govuk-width-container ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
            <h1 id="page-title" class="govuk-heading-l">Contact Us</h1>

            <h2 class="govuk-heading-m">North</h2>
            <div class="govuk-body">
                <p>
                    Email: <a id="contact-us-north-email" href="mailto:shared-ownership-north@homesengland.gov.uk">shared-ownership-north@homesengland.gov.uk</a>
                </p>
                <p>
                    Telephone: 0300 790 0570<br />
                    <a id="contact-us-north-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                </p>
            </div>

            <h2 class="govuk-heading-m">Midlands (including London)</h2>
            <div class="govuk-body">
                <p>
                    Email: <a id="contact-us-midlands-email" href="mailto:shared-ownership-midlands@homesengland.gov.uk">shared-ownership-midlands@homesengland.gov.uk</a>
                </p>
                <p>
                    Telephone: 0333 321 4044<br />
                    <a id="contact-us-midlands-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                </p>
            </div>

            <h2 class="govuk-heading-m">South (excluding London)</h2>
            <div class="govuk-body">
                <p>
                    Email: <a id="contact-us-south-email" href="mailto:shared-ownership-south@homesengland.gov.uk">shared-ownership-south@homesengland.gov.uk</a>
                </p>
                <p>
                    Telephone: 0800 456 1188<br />
                    <a id="contact-us-south-call-charge-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
                </p>
            </div>
        </div>
    </div>
</div>

