@{
    ViewData["Title"] = "Contact us";
}
<div class="govuk-width-container ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <div role="navigation" aria-label="navigate back">
                <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
            </div>            

            <main class="govuk-main-wrapper">
                <h1 id="page-title" class="govuk-heading-l">Contact us</h1>
                <h2 class="govuk-heading-m">Homes England</h2>

                <div class="govuk-body">
                    <p>
                        Email : <a class="govuk-link" id="contact-us-email" href="mailto:Sharedownership@homesengland.gov.uk">Sharedownership@homesengland.gov.uk</a>
                    </p>
                    <p>
                        Telephone : 0300 1234 500<br />
                        Monday to Friday, 9am to 5pm<br />
                        Closed Saturday, Sunday and bank holidays
                    </p>
                </div>
            </main>
        </div>
    </div>
</div>