@model PageOne
@{
    ViewData["Title"] = "Find a shared ownership provider";
}
<body>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Home</a>
            </li>
        </ol>
    </div>

    
    <div class="govuk-inset-text">
        <h1>Welcome to AHO</h1>
    </div>
</body>


