<div class="govuk-width-container ">
    <div role="navigation" aria-label="navigate back">
        <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
    </div>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Continue checking your eligibility on the Homes for Londoners website</h1>
                <p class="govuk-body"><a class="govuk-link" id="londonURL" href="https://www.london.gov.uk/programmes-strategies/housing-and-land/buying-and-owning-home/shared-ownership-scheme">Continue to Homes for Londoners</a></p>
            </div>
        </div>
    </main>
</div>
