@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="govuk-width-container ">
    <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">You may be eligible to buy a shared ownership home</h1>
                <p class="govuk-body">
                    Based on what you've told us, you are likely to be eligible for the Shared Ownership scheme.
                </p>
                <p>
                    You can <a href="../../iteration-6/provider-search/01-search-start">find an organisation that sells shared ownership homes.</a>
                </p>
            </div>
        </div>
    </main>
</div>