<div class="govuk-width-container ">
    <div role="navigation" aria-label="navigate back">
        <a href="@ViewBag.previousPage" class="govuk-back-link">Back</a>
    </div>
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">You may not be eligible to buy a shared ownership home</h1>
                <p class="govuk-body">
                    Based on the information you provided, you may not be eligible to buy a shared ownership home.
                </p>
                <h2 class="govuk-heading-m">Why you may not eligible for shared ownership</h2>
                <p class="govuk-body">You told us that your household income is more than £80,000. If your income changes, you can check if you are eligble again.</p>

                <h2 class="govuk-heading-m">Other help to buy a home</h2>
                <p class="govuk-body">You may be eligible for support to buy a home through other <a class="govuk-link" href="https://www.gov.uk/affordable-home-ownership-schemes" id="AHOLink">affordable home ownership schemes</a>.</p>
            </div>
        </div>
    </main>
</div>